<div class="container">
<mat-grid-list cols="3" rowHeight="1.6:1">
    <mat-grid-tile> 
     
      <app-current></app-current>

    </mat-grid-tile>
    <mat-grid-tile>

      <app-dashboard></app-dashboard>

    </mat-grid-tile>
    <mat-grid-tile>
      
      <app-dashboard></app-dashboard>

    </mat-grid-tile>
    <mat-grid-tile>
      
      <app-dashboard></app-dashboard> 

    </mat-grid-tile>
    <mat-grid-tile>

      <app-dashboard></app-dashboard>

    </mat-grid-tile>
    <mat-grid-tile>

      <app-dashboard></app-dashboard>

    </mat-grid-tile>
  </mat-grid-list>
</div>